{% comment %}
  © Sections AI. You are free to use this section in your store. You may not redistribute this section in another Shopify app.
{% endcomment %}
<style>

  {{ section.settings.text_font | font_face }}
  {{ section.settings.headline_font | font_face }}

  #sections-ai-tabs-{{ section.id }}.sections-ai-tabs-wrap p,
  #sections-ai-tabs-{{ section.id }}.sections-ai-tabs-wrap li,
  #sections-ai-tabs-{{ section.id }}.sections-ai-tabs-wrap li a {
    font-size: {{ section.settings.text_size }};
    font-family: {{ section.settings.text_font.family }}, {{ section.settings.text_font.fallback_families }};
    font-weight: {{ section.settings.text_font.weight }};
    line-height: 1.15;
  }

  #sections-ai-tabs-{{ section.id }}.sections-ai-tabs-wrap h1 ,
  #sections-ai-tabs-{{ section.id }}.sections-ai-tabs-wrap h2,
  #sections-ai-tabs-{{ section.id }}.sections-ai-tabs-wrap h3,
  #sections-ai-tabs-{{ section.id }}.sections-ai-tabs-wrap h4 {
    font-size: {{ section.settings.headline_size }};
    font-family: {{ section.settings.headline_font.family }}, {{ section.settings.headline_font.fallback_families }};
    font-weight: {{ section.settings.headline_font.weight }};
    line-height: 1.15;
  }


    /* tabs */
    @keyframes animateTabs {
      from {opacity: 0; }
      to {opacity: 1; }
    }

    #sections-ai-tabs-{{ section.id }}.sections-ai-tabs-wrap {
      background-image: {{ section.settings.background_color }};
    }

    #sections-ai-tabs-{{ section.id }} .sections-ai-tabs {
      margin: 0 auto;
      max-width: {{ section.settings.max_width }}px;
      padding: {{ section.settings.padding_top }}px {{ section.settings.padding_right }}px {{ section.settings.padding_bottom }}px {{ section.settings.padding_left }}px;
    }
    
    /* tab links */
    #sections-ai-tabs-{{ section.id }} .sections-ai-tabs-links {
      margin: 0;
      padding: 0;
      border-bottom: 1px solid {{ section.settings.tab_border_color }};
    }

    #sections-ai-tabs-{{ section.id }} .sections-ai-tabs-links ul {
      margin: 0;
      padding: 0;
    }
    
    #sections-ai-tabs-{{ section.id }} .sections-ai-tabs-links li {
      display: inline-block;
      margin: 0;
      padding: 0;
    }
    
    #sections-ai-tabs-{{ section.id }} .sections-ai-tabs-links li a, body .sections-ai-tabs-links li a:hover {
      font-size: 0.9em;
      display: inline-block;
      padding: 10px 25px;
      color: {{ section.settings.tab_inactive_color }};
      cursor: pointer;
      text-decoration: none;
    }
    
    /* tab body */
    #sections-ai-tabs-{{ section.id }} .sections-ai-tab {
        display: none;
    }

  #sections-ai-tabs-{{ section.id }} .sections-ai-tab * {
    color: {{ section.settings.text_color }};;
  }

    #sections-ai-tabs-{{ section.id }} .sections-ai-tab p {
      padding: 0;
      margin: 0 0 15px 0;
    }

    #sections-ai-tabs-{{ section.id }} .sections-ai-tab ul {
      padding: 0;
      margin: 0 0 15px 0;
    }

    #sections-ai-tabs-{{ section.id }} .sections-ai-tab ul:last-child,
    #sections-ai-tabs-{{ section.id }} .sections-ai-tab p:last-child {
      padding: 0;
      margin: 0;
    }
    
    #sections-ai-tabs-{{ section.id }} .sections-ai-tab[active] {
        display: block;
        margin 0;
        padding: 15px 0 0 0;
        animation: animateTabs 250ms ease-in-out both;
    }
    
    /* Small devices (tablets, 768px and up) */
    @media (max-width: 768px) {
        #sections-ai-tabs-{{ section.id }} .sections-ai-tabs-links li a, 
        #sections-ai-tabs-{{ section.id }} .sections-ai-tabs-links li a:hover {
          font-size: 0.8em;
          display: inline-block;
          padding: 10px 5px;
        }
        
        #sections-ai-tabs-{{ section.id }} .sections-ai-grid.sections-ai-tab[active] {
            display: block;
        }
    }

    #sections-ai-tabs-{{ section.id }} .sections-ai-tabs-links li a {
      position: relative;
      text-transform: none;
    }
    
    #sections-ai-tabs-{{ section.id }} .sections-ai-tabs-links li a[active] {
      color: {{ section.settings.tab_active_color }};
      border-bottom: none;
      font-weight: bold;
    }
    
    #sections-ai-tabs-{{ section.id }} .sections-ai-tabs-links li a::after {
      position: absolute;
      bottom: -3px;
      left: 50%;
      content: '';
      background-color: {{ section.settings.tab_active_color }};
      width: 0;
      height: 6px;
      border-radius: 2px;
      width: 0;
      visibility: hidden;
    }

    #sections-ai-tabs-{{ section.id }} .sections-ai-tabs-links li a[active]::after {
        left: -2px;
        visibility: visible;
        width: calc(100% + 4px);
        transition: .25s all ease;
    }
  </style>

<div id="sections-ai-tabs-{{ section.id }}" class="sections-ai-tabs-wrap">

  <div class="sections-ai-tabs">

    <div class="sections-ai-tabs-links"><ul>
    {% for block in section.blocks %}
         <li><a data-index="{{ forloop.index }}" {% if forloop.index == 1 %}active{% endif %}>{{block.settings.tab_name}}</a></li>
    {% endfor %}
    </ul></div>
    <!-- /.sections-ai-tabs-links -->

    <div class="sections-ai-tabs-container">
    {% for block in section.blocks %}
         <div data-index="{{ forloop.index }}" {% if forloop.index == 1 %}active{% endif %} class="sections-ai-tab">{{block.settings.tab_content}}</div>
    {% endfor %}
    </div>
    <!-- /.sections-ai-tabs -->

  </div>
  <!-- /.sections-ai-abs -->
  
</div>
<!-- /.sections-ai-slideshow-wrap -->

<script>

        var links = document.querySelectorAll('#sections-ai-tabs-{{ section.id }} .sections-ai-tabs-links a');
        
        for(var x=0; x<links.length; x++) {

            links[x].addEventListener('click', function(e) {

                var links = document.querySelectorAll('#sections-ai-tabs-{{ section.id }} .sections-ai-tabs-links a');
                var tabs = document.querySelectorAll('#sections-ai-tabs-{{ section.id }} .sections-ai-tab');
            
                
                var currentTab = e.target.getAttribute('data-index');

                // remove active
                for(x=0; x<links.length; x++) {
                  links[x].removeAttribute('active');
                }
                
                e.target.setAttribute('active', '');
                
                // set active tab
                for(x=0; x<tabs.length; x++) {
                  tabs[x].removeAttribute('active');
                }
                
                var tab = document.querySelector('#sections-ai-tabs-{{ section.id }} .sections-ai-tab[data-index="' + currentTab + '"]');
                
                if(tab)tab.setAttribute('active', '');
                
            })
            
        }
</script>

{% schema %}
  {
    "name": "Sec.ai - Product Tabs",
    "settings": [
      {
        "type": "header",
        "content": "Text",
        "info": "Set the text size for your widget"
      },
      {
        "type": "font_picker",
        "id": "text_font",
        "label": "Text Font",
        "default": "helvetica_n4"
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text Size",
        "options": [
          {
            "value": "10pt",
            "label": "10pt"
          },
          {
            "value": "12pt",
            "label": "12pt"
          },
          {
            "value": "14pt",
            "label": "14pt"
          },
          {
            "value": "15pt",
            "label": "15pt"
          },
          {
            "value": "16pt",
            "label": "16pt"
          },
          {
            "value": "17pt",
            "label": "17pt"
          },
          {
            "value": "18pt",
            "label": "18pt"
          },
          {
            "value": "20pt",
            "label": "20pt"
          },
          {
            "value": "22pt",
            "label": "22pt"
          },
          {
            "value": "25pt",
            "label": "25pt"
          },
          {
            "value": "30pt",
            "label": "30pt"
          },
          {
            "value": "35pt",
            "label": "35pt"
          },
          {
            "value": "inherit",
            "label": "inherit"
          }
        ],
        "default": "17pt"
      },
      {
        "type": "font_picker",
        "id": "headline_font",
        "label": "Headline Font",
        "default": "helvetica_n4"
      },
      {
        "type": "select",
        "id": "headline_size",
        "label": "Headline Size",
        "options": [
          {
            "value": "10pt",
            "label": "10pt"
          },
          {
            "value": "12pt",
            "label": "12pt"
          },
          {
            "value": "14pt",
            "label": "14pt"
          },
          {
            "value": "15pt",
            "label": "15pt"
          },
          {
            "value": "16pt",
            "label": "16pt"
          },
          {
            "value": "17pt",
            "label": "17pt"
          },
          {
            "value": "18pt",
            "label": "18pt"
          },
          {
            "value": "20pt",
            "label": "20pt"
          },
          {
            "value": "22pt",
            "label": "22pt"
          },
          {
            "value": "25pt",
            "label": "25pt"
          },
          {
            "value": "30pt",
            "label": "30pt"
          },
          {
            "value": "35pt",
            "label": "35pt"
          },
          {
            "value": "40pt",
            "label": "40pt"
          },
          {
            "value": "inherit",
            "label": "inherit"
          }
        ],
        "default": "22pt"
      },
      {
        "type": "header",
        "content": "Colors",
        "info": "Set colors for the section."
      },
      {
        "type": "color",
        "id": "text_color",
        "default": "#111",
        "label": "Text Color"
      },
      {
        "type": "color_background",
        "id": "background_color",
        "default": "transparent",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "tab_active_color",
        "default": "#111",
        "label": "Tab Active Color"
      },{
        "type": "color",
        "id": "tab_inactive_color",
        "default": "#888",
        "label": "Tab Inactive Color"
      },{
        "type": "color",
        "id": "tab_border_color",
        "default": "#ddd",
        "label": "Tab Border Color"
      },
      {
        "type": "header",
        "content": "Dimensions",
        "info": "Set the section dimensions in pixels."
      },
      {
        "type": "number",
        "id": "max_width",
        "default": 1000,
        "label": "Max Width of Section"
      },
      {
        "type": "number",
        "id": "padding_top",
        "default": 25,
        "label": "Padding Top"
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "default": 25,
        "label": "Padding Bottom"
      },
      {
        "type": "number",
        "id": "padding_left",
        "default": 10,
        "label": "Padding Left"
      },
      {
        "type": "number",
        "id": "padding_right",
        "default": 10,
        "label": "Padding Right"
      }
    ],
    "blocks": [
      {
       "name": "Tab",
       "type": "tab",
       "settings": [
          {
          "type": "text",
          "id": "tab_name",
          "label": "Tab Name"
          },
          {
            "type": "richtext",
            "id": "tab_content",
            "label": "Tab Content"
          }
       ]
      }
    ],
    "presets": [
      {
        "name": "Sec.ai - Product Tabs",
        "category": "Custom"
      }
    ]
  }
{% endschema %}